body {
margin:0;
background:black;
overflow:hidden;
font-family: monospace;
color:white;
}

canvas {
display:block;
margin:auto;
background:black;
}

#controls {
position: fixed;
bottom: 10px;
width: 100%;
display:flex;
justify-content: space-around;
}

button {
font-size: 24px;
padding: 15px;
background: #222;
color:white;
border:none;
border-radius:10px;
}